In [1]:
from selenium import webdriver
import pandas as pd
import numpy as np
from selenium.webdriver.firefox.options import Options
import time

options = Options()
options.headless = True

## scrapper

In [5]:
da = pd.read_csv('../links.csv')
url_list = da['url'].tolist()

In [41]:
myDict1 = {}
start_time = time.time()
  
for page_num in range(0, 2):
    print(page_num,end = " ")
    browser = webdriver.Firefox(options=options, executable_path="./drivers/geckodriver")
    browser.get(url_list[page_num])
    browser.find_element_by_partial_link_text("More Details...").click()
    title = browser.find_element_by_id('bookTitle').text
    author = browser.find_element_by_class_name("authorName").text 
    avg_rating = browser.find_element_by_xpath("/html/body/div[2]/div[3]/div[1]/div[2]/div[4]/div[1]/div[2]/div[2]/span[2]").text
    num_rating = browser.find_element_by_xpath("/html/body/div[2]/div[3]/div[1]/div[2]/div[4]/div[1]/div[2]/div[2]/a[2]").text
    num_review = browser.find_element_by_xpath("/html/body/div[2]/div[3]/div[1]/div[2]/div[4]/div[1]/div[2]/div[2]/a[3]").text
    details = browser.find_element_by_id("details")
    temp1 = details.text.split("\n")
    
    page = 0
    series = 0
    
    # num rating
    try:
        num_ratings = num_rating.split()[0]
    except:
        num_ratings = 0
    
    # num review
    try:
        num_reviews = num_review.split()[0]
    except:
        num_reviews = 0

    places = np.nan
    awards = np.nan

    # total_pages
    try:
        num_pages = [int(s) for s in temp1[0].split() if s.isdigit()]
        num_pages = str(total_pages[0])
    except IndexError:
        num_pages = np.nan

    # year
    try:
        year = [int(s) for s in temp1[1].split() if s.isdigit()]
        original_publish_year = str(year[0]) 
    except IndexError:
        original_publish_year = np.nan

    # places
    for i in range(len(temp1)):
        if(temp1[i]=="Setting"):
            places = temp1[i+1]
        
    # series
    for i in range(len(temp1)):
        if(temp1[i] == "Series"):
            series = 1

    # Awards
    for i in range(len(temp1)):
        if(temp1[i] == "Literary Awards"):
            awards = temp1[i+1]
    
    # genre
    genre = browser.find_elements_by_css_selector("div.left>a.bookPageGenreLink")
    temp2 = [i.text for i in genre]

    try:
        genres = temp2[0:3]
    except IndexError:
        genres = np.nan

    myDict1[page_num] = (url_list[page_num],title, author, avg_rating, num_ratings,  num_reviews,  num_pages, original_publish_year, places, series, awards, genres)
    browser.close()

print("time taken: %s seconds ---" % (time.time() - start_time))
df = pd.DataFrame.from_dict(myDict1, orient='index', columns=['url','title', 'author', 'num_reviews', 'num_ratings', 'avg_rating',  'num_pages', 'original_publish_year', 'series', 'genres', 'awards', 'places'])
df.to_csv('filename.csv')

0 1 time taken: 23.777718544006348 seconds ---

In [42]:
df

,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places
0,https://www.goodreads.com//book/show/13496.A_G...,A Game of Thrones,George R.R. Martin,4.44,"2,084,674","55,510",1,2005,The Lands of Ice and Fire,1,"Nebula Award Nominee for Best Novel (1997), Lo...","[Fantasy, Fiction, Fantasy]"
1,https://www.goodreads.com//book/show/30.J_R_R_...,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.60,"114,607","1,837",1,2012,Middle-earth,1,NaN,"[Fantasy, Fiction, Classics]"

In [51]:
df = pd.read_csv('final_01.csv')

In [52]:
df.dtypes

url                       object
title                     object
author                    object
num_reviews                int64
num_ratings                int64
avg_rating               float64
num_pages                float64
original_publish_year    float64
series                     int64
genres                    object
awards                    object
places                    object
dtype: object

In [53]:
dfn = df.convert_dtypes()
dfn.dtypes

url                       string
title                     string
author                    string
num_reviews                Int64
num_ratings                Int64
avg_rating               Float64
num_pages                  Int64
original_publish_year      Int64
series                     Int64
genres                    string
awards                    string
places                    string
dtype: object

In [54]:
dfn['series'].dtype

Int64Dtype()

In [55]:
dfn['series'] = dfn['series'].astype('bool')

In [57]:
dfn.to_csv('final_01.csv')

In [58]:
dfn.dtypes

url                       string
title                     string
author                    string
num_reviews                Int64
num_ratings                Int64
avg_rating               Float64
num_pages                  Int64
original_publish_year      Int64
series                      bool
genres                    string
awards                    string
places                    string
dtype: object

## preprocessing

In [62]:
df2 = dfn
df2.info

,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places
0,https://www.goodreads.com//book/show/13496.A_G...,A Game of Thrones,George R.R. Martin,55502,2084416,4.44,835,2005,True,"['Fantasy', 'Fiction', 'Fantasy']","Nebula Award Nominee for Best Novel (1997), Lo...",The Lands of Ice and Fire
1,https://www.goodreads.com//book/show/30.J_R_R_...,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,1837,114607,4.6,1728,2012,True,"['Fantasy', 'Fiction', 'Classics']",<NA>,Middle-earth
2,https://www.goodreads.com//book/show/186074.Th...,The Name of the Wind,Patrick Rothfuss,43986,759974,4.52,662,2007,True,"['Fantasy', 'Fiction', 'Fantasy']",Locus Award Nominee for Best First Novel and B...,<NA>
3,https://www.goodreads.com//book/show/7235533-t...,The Way of Kings,Brandon Sanderson,22153,334282,4.61,1007,2010,True,"['Fantasy', 'Fiction', 'Fantasy']",Locus Award Nominee for Best Fantasy Novel (20...,Roshar
4,https://www.goodreads.com//book/show/11127.The...,The Chronicles of Narnia,C.S. Lewis,10668,545434,4.26,767,2002,True,"['Fantasy', 'Classics', 'Fiction']",<NA>,"London, England (United Kingdom)"
...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://www.goodreads.com//book/show/17315.Oat...,Oath of Swords,David Weber,184,6768,4.02,576,2006,True,"['Fantasy', 'Fiction', 'Fantasy']",<NA>,<NA>
996,https://www.goodreads.com//book/show/1539021.A...,Anackire,Tanith Lee,14,276,3.54,414,1983,True,"['Fantasy', 'Fiction', 'Science Fiction Fantasy']",<NA>,<NA>
997,https://www.goodreads.com//book/show/517104.Co...,Competitions,Sharon Green,27,897,3.7,422,1997,True,"['Fantasy', 'Fiction', 'Romance']",<NA>,<NA>
998,https://www.goodreads.com//book/show/15547.Mag...,Magic Kingdom for Sale/Sold,Terry Brooks,1172,34810,3.9,324,1992,True,"['Fantasy', 'Fiction', 'Science Fiction Fantasy']",<NA>,<NA>
999,https://www.goodreads.com//book/show/15881.Har...,Harry Potter and the Chamber of Secrets,J.K. Rowling,56512,2905259,4.43,341,1999,True,"['Fantasy', 'Young Adult', 'Fiction']",Mythopoeic Fantasy Award for Children's Litera...,Hogwarts School of Witchcraft and Wizardry (Un...